@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro"),
  url("./assets/font/GothamPro.ttf") format("truetype");
  font-weight: normal;
}
